<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link rel="icon"
        href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQJMIRt0mhh9HbgoAFglqKLdnDfCSTX78mMLw&usqp=CAU">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/stylesheets/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/stylesheets/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/stylesheets/flaticon.css">
    <link rel="stylesheet" href="/stylesheets/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/stylesheets/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <section>
        <!--::header part start::-->
        <header class="main_menu home_menu">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <div class="section_tittle text-center mt-5">
                                <h2>MY STORE <span style="color: darksalmon;">shop</span></h2>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header part end-->
        <!--================Single Product Area =================-->
        <div class="product_image_area section_padding">
            <div class="container">
                <div class="row s_product_inner justify-content-between">
                    <div class="col-lg-7 col-xl-7">
                        <div class="product_slider_img">
                            <div id="vertical">
                                <div data-thumb="img/product/single-product/product_1.png">
                                    <img src="<%= data['src'] %>" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xl-4">
                        <div class="s_product_text">
                            <h3><%= data['subject'] %></h3>
                            <h2><%= data['price'] %> <span>FCFA</span></h2>
                            <ul class="list">
                                <li>
                                    <a class="active" href="#">
                                        <span>Category</span> : <%= data['category'] %></a>
                                </li>
                                <li>
                                    <a href="#"> <span>Availibility</span>
                                        <% if(data['quantity'] > 0){ %>
                                        : In Stock
                                        <% } else{ %>
                                        : Sold out
                                        <% } %>
                                    </a>
                                </li>
                            </ul>
                            <p><%= data['description'] %></p>
                            <div class="card_area d-flex justify-content-between align-items-center">
                                <button type="button" class="btn_3 btn-primary" data-toggle="modal"
                                    data-target="#TransactionDataModal">
                                    Commander
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Single Product Area =================-->

    <!--================Product Description Area =================-->
    <section class="product_description_area">
        <div class="container">
            <div class="row">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                            aria-selected="true">Description</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                            aria-controls="profile" aria-selected="false">Specification</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <p><%= data['description']%></p>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <h5>Tailles</h5>
                                    </td>
                                    <td>
                                        <h5><%= data['tailles'] %></h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>Poids</h5>
                                    </td>
                                    <td>
                                        <h5><%= data['poids'] %></h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>Contrôle qualité</h5>
                                    </td>
                                    <td>
                                        <h5>Oui</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5>Empaquetage</h5>
                                    </td>
                                    <td>
                                        <h5>Sans toucher des mains</h5>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!--================End Product Description Area =================-->

    <!--================Modal Area =================-->
    <section>
        <!-- Modal -->
        <div class="modal fade cd-example-modal-lg" id="TransactionDataModal" tabindex="-1" role="dialog"
            aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Entrez vos informations</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST" action="/payment">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-6 posts-list">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="name">Nom</label>
                                            <input type="text" class="form-control" name="firstname" id="firstname"
                                                placeholder="Doe">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="firstname">Prénoms</label>
                                            <input type="text" class="form-control" name="lastname" id="lastname"
                                                placeholder="John">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email</label>
                                            <input type="email" class="form-control" name="email"
                                                id="exampleInputEmail1" placeholder="johndoe@example.com">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="number">Téléphone (optionnel)</label>
                                            <input type="tel" class="form-control" name="number" id="number"
                                                placeholder="66000001"">
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-lg-6 border-left">
                                            <div class="order_box">
                                                <h2>Votre Commande</h2>
                                                <ul class="list">
                                                    <li>
                                                        <a href="#">Produit
                                                            <span>Total</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><%= data['subject'] %>
                                                            <span class="middle"></span>
                                                            <span class="last"><%= data['price'] %> FCFA</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <ul class="list list_2">
                                                    <li>
                                                        <a href="#">Sous-total
                                                            <span><%= data['price'] %></span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Livraison
                                                            <span>Flat rate: 0.00 FCFA</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Total
                                                            <span><%= data['price'] %> FCFA</span>
                                                            <input type="text" name="amount"
                                                                value="<%= data['price'] %>" hidden>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn_3 btn-secondary" style="background-color: dimgrey;"
                                        data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn_3">Valider</button>
                                </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal -->

    </section>
    <!--================End Modal Area =================-->
    <!--::footer_part start::-->
    <footer class="footer_part">
        <div class="copyright_part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="copyright_text">
                            <P>Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved |
                                <a href="https://fedapay.com" target="_blank">Fedapay</a>
                            </P>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="footer_icon social_icon">
                            <ul class="list-unstyled">
                                <li><a href="#" class="single_social_icon"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" class="single_social_icon"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class="single_social_icon"><i class="fas fa-globe"></i></a></li>
                                <li><a href="#" class="single_social_icon"><i class="fab fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--::footer_part end::-->

    <!-- jquery plugins here-->
    <script src="/javascripts/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/javascripts/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/javascripts/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/javascripts/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/javascripts/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="/javascripts/owl.carousel.min.js"></script>
    <script src="/javascripts/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="/javascripts/slick.min.js"></script>
    <script src="/javascripts/jquery.counterup.min.js"></script>
    <script src="/javascripts/waypoints.min.js"></script>
    <script src="/javascripts/jquery.ajaxchimp.min.js"></script>
    <script src="/javascripts/jquery.form.js"></script>
    <script src="/javascripts/jquery.validate.min.js"></script>
    <!-- custom js -->
    <script src="/javascripts/custom.js"></script>
</body>

</html>