
<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQJMIRt0mhh9HbgoAFglqKLdnDfCSTX78mMLw&usqp=CAU">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/stylesheets/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/stylesheets/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/stylesheets/flaticon.css">
    <link rel="stylesheet" href="/stylesheets/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/stylesheets/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="section_tittle text-center mt-5">
                            <h2>MY STORE <span style="color: darksalmon;">shop</span></h2>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header part end-->

    <!-- product_list start-->
    <section class="product_list section_padding">
        <!-- Status alert toast part start -->
        <div class="container mt-3">
            <% if( status == "success" ) { %>
                <section>
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Succès!</strong> Paiement effectué avec succès.
                    </div>
                </section>
            <% } else if ( status == "failed") { %>
                <section>
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Echec!</strong> Paiement échoué.
                    </div>
                </section>
            <% } %>
        </div>
        <!-- Status alert toast part end -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product_list_slider owl-carousel">
                        <div class="single_product_list_slider">
                            <div class="row align-items-center justify-content-between">
                                <% Object.keys(data).forEach(function(id) {
                                    if( typeof data[id] == "object" ) { %>
                                      <div class="col-lg-3 col-sm-6">
                                        <div class="single_product_item">
                                            <img src="<%= data[id]['src'] %>" alt="">
                                            <div class="single_product_text">
                                                <h4><%= data[id]['subject'] %></h4>
                                                <h3><%= data[id]['price'] %> FCFA</h3>
                                                <a href="/checkout/<%= id %>" class="add_cart">Voir détails<i class="ti-heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                  <% }); %>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product_list part start-->

    <!--::footer_part start::-->
    <footer class="footer_part">
        <div class="copyright_part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="copyright_text">
                            <P>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |
                                <a href="https://fedapay.com" target="_blank">Fedapay</a>
                            </P>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="footer_icon social_icon">
                            <ul class="list-unstyled">
                                <li><a href="#" class="single_social_icon"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" class="single_social_icon"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class="single_social_icon"><i class="fas fa-globe"></i></a></li>
                                <li><a href="#" class="single_social_icon"><i class="fab fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--::footer_part end::-->

    <!-- jquery plugins here-->
    <script src="/javascripts/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/javascripts/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/javascripts/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/javascripts/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/javascripts/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="/javascripts/owl.carousel.min.js"></script>
    <script src="/javascripts/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="/javascripts/slick.min.js"></script>
    <script src="/javascripts/jquery.counterup.min.js"></script>
    <script src="/javascripts/waypoints.min.js"></script>
    <script src="/javascripts/jquery.ajaxchimp.min.js"></script>
    <script src="/javascripts/jquery.form.js"></script>
    <script src="/javascripts/jquery.validate.min.js"></script>
    <!-- custom js -->
    <script src="/javascripts/custom.js"></script>
</body>

</html>